.card__like-icon {
  background-image: url(../../../image/Group.png);
  width: 20px;
  height: 18px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: white;
  border: none;
  cursor: pointer;
}

.place-card__like-icon:hover {
  transform: scale(1.03);
}
