.card__like-icon {
  background: url(../../../image/like.svg);
  width: 20px;
  height: 18px;
  background-size: cover;
  border: none;
  cursor: pointer;
}

.card__like-icon:hover {
  transform: scale(1.03);
}
