@import url(./__logo/header__logo.css);
.header {
  border-bottom: 1px solid rgba(84, 84, 84, 0.7);
  margin-bottom: 36px;
  width: 882px;
  margin: 0 auto;
}

@media screen and (max-width: 890px) {
  .header {
    width: 315px;
  }
}