.profile__editButton {
  width: 24px;
  height: 24px;
  background-color: black;
  border: 1px solid #ffffff;
  margin-top: 35px;
  margin-left: 10px;
  cursor: pointer;
}

.profile__editButton:hover {
  opacity: 0.8;
  
}

@media screen and (max-width: 890px) {
  .profile__editButton {
  position: absolute;
  margin-top: 135px;
  margin-left: 230px;
  }
}