.profile__info-subtitle {
  margin-top: 8px;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
}


@media screen and (max-width: 890px) {
  .profile__info-subtitle {
    text-align: center;
    font-size: 14px;
}
}